---
title: "团队"
layout: default
description: 优质资讯源自专业团队！
header-img: "http://7xrvqo.com1.z0.glb.clouddn.com/images/team.f1c9840e.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
  <div class="gray-mark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 team-members">
      {% for auth in site.author_list %}
        {% assign author = site.authors[auth] %}
        <a class="team-member .col-lg-3 col-md-4 .col-sm-2" href="{{author.web}}" target="_blank">
          <div class="author-avatar" style="background-image: url({{ author.avatar }})"></div>
          <h4>{{author.display_name}}</h4>
          <p>{{author.company}} · {{author.position}}</p>
        </a>
      {% endfor %}
		</div>
	</div>
</div>
